<heml>
    <meta charset="UTF-8">
    <title>Simple Spring Boot app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<body>
<div>Hello World</div>
</body>

</heml>
